## 1. 数据处理和分析

In [192]:
import pandas as pd

读取从 [UN Comtrade Database](https://comtrade.un.org/data/) 获取的 2019 年全球铜及其精炼物（2603）贸易记录，并处理：

1. 去除贸易对象为 World 的数据行
2. 并保留关心的数据列：报告者及其代码、贸易对象及代码、贸易类型、贸易额

In [230]:
resourceData = pd.read_csv('2019-world-copper-2063-trade.csv')
data = (
    resourceData[resourceData["Partner Code"] != 0]
    .loc[:, ["Reporter Code", "Reporter", "Partner Code", "Partner", "Trade Flow", "Trade Value (US$)"]]
)
data.head()

,Reporter Code,Reporter,Partner Code,Partner,Trade Flow,Trade Value (US$)
2,31,Azerbaijan,702,Singapore,Export,419159
3,31,Azerbaijan,757,Switzerland,Export,3043343
4,31,Azerbaijan,826,United Kingdom,Import,79
5,31,Azerbaijan,860,Uzbekistan,Export,17248944
6,31,Azerbaijan,899,"Areas, nes",Import,1007

抽样检查各国报告数据是否一致

In [209]:
reporters = data.loc[:, ["Reporter Code", "Reporter"]].drop_duplicates()

1. 查看中国上报的进口记录：

In [228]:
groupedDataOfImport = (data[data["Trade Flow"] == "Import"]
    .groupby("Reporter Code")
)

ChinaImportReport = groupedDataOfImport.get_group(156)

partnerNum = ChinaImportReport.shape[0]
print("中上报的进口记录中，进口对象的个数: ", partnerNum)

ChinaImportReport.head(partnerNum)

中上报的进口记录中，进口对象的个数:  56

,Reporter Code,Reporter,Partner Code,Partner,Trade Flow,Trade Value (US$)
247,156,China,8,Albania,Import,17013004
248,156,China,36,Australia,Import,1666113958
250,156,China,51,Armenia,Import,510563982
251,156,China,68,Bolivia (Plurinational State of),Import,2677980
252,156,China,76,Brazil,Import,557705819
255,156,China,100,Bulgaria,Import,50
256,156,China,104,Myanmar,Import,2850825
258,156,China,124,Canada,Import,910149220
260,156,China,152,Chile,Import,12076025483
261,156,China,170,Colombia,Import,56382455
262,156,China,178,Congo,Import,520238
263,156,China,180,Dem. Rep. of the Congo,Import,386995691
265,156,China,212,Dominica,Import,57
266,156,China,214,Dominican Rep.,Import,123783836
267,156,China,218,Ecuador,Import,4952430
268,156,China,231,Ethiopia,Import,10326
269,156,China,232,Eritrea,Import,105319016
271,156,China,360,Indonesia,Import,618533133
272,156,China,364,Iran,Import,23701028
275,156,China,398,Kazakhstan,Import,964109620
276,156,China,404,Kenya,Import,501479
278,156,China,410,Rep. of Korea,Import,709
279,156,China,417,Kyrgyzstan,Import,199725
280,156,China,418,Lao People's Dem. Rep.,Import,458829040
281,156,China,450,Madagascar,Import,440772
282,156,China,458,Malaysia,Import,34683639
283,156,China,478,Mauritania,Import,209832472
284,156,China,484,Mexico,Import,1986012762
285,156,China,490,"Other Asia, nes",Import,111136358
286,156,China,496,Mongolia,Import,1795514292
287,156,China,504,Morocco,Import,17746697
288,156,China,508,Mozambique,Import,2099031
289,156,China,516,Namibia,Import,18079
290,156,China,566,Nigeria,Import,9853
292,156,China,586,Pakistan,Import,193330
293,156,China,591,Panama,Import,387665029
294,156,China,598,Papua New Guinea,Import,159701250
295,156,China,604,Peru,Import,9052329871
296,156,China,608,Philippines,Import,268285022
297,156,China,642,Romania,Import,12115525
298,156,China,643,Russian Federation,Import,234860468
299,156,China,682,Saudi Arabia,Import,152889096
300,156,China,688,Serbia,Import,111
301,156,China,699,India,Import,78282781
302,156,China,704,Viet Nam,Import,22101901
303,156,China,706,Somalia,Import,154153
304,156,China,710,South Africa,Import,17009652
305,156,China,716,Zimbabwe,Import,783889
306,156,China,724,Spain,Import,872750734
307,156,China,764,Thailand,Import,115337
308,156,China,784,United Arab Emirates,Import,70360785
309,156,China,792,Turkey,Import,60658162
310,156,China,826,United Kingdom,Import,74307
311,156,China,834,United Rep. of Tanzania,Import,8523190
312,156,China,842,USA,Import,13566717
313,156,China,894,Zambia,Import,23748142

2. 查看中国进口对象上报的对中国的出口记录

In [229]:
partnersChinaImportFrom = ChinaImportReport.loc[:,"Partner Code"]

groupedDataOfExport = (data[data["Trade Flow"] == "Export"]
    .groupby("Partner Code")
)

partnersExportToChina = groupedDataOfExport.get_group(156)

reportOfPartnersExportToChina = partnersExportToChina[partnersExportToChina["Partner Code"] == 156]

partnerNum = reportOfPartnersExportToChina.shape[0]
print("中上报的进口记录中，进口对象的个数: ", partnerNum)

reportOfPartnersExportToChina.head(partnerNum)

中上报的进口记录中，进口对象的个数:  41

,Reporter Code,Reporter,Partner Code,Partner,Trade Flow,Trade Value (US$)
13,36,Australia,156,China,Export,1585564428
36,51,Armenia,156,China,Export,174415305
68,68,Bolivia (Plurinational State of),156,China,Export,3882938
88,76,Brazil,156,China,Export,442971407
116,100,Bulgaria,156,China,Export,71216190
161,124,Canada,156,China,Export,764979617
208,152,Chile,156,China,Export,9649325301
316,170,Colombia,156,China,Export,40352028
328,204,Benin,156,China,Export,1708
334,218,Ecuador,156,China,Export,3562481
386,276,Germany,156,China,Export,7449316
416,344,"China, Hong Kong SAR",156,China,Export,152061
427,360,Indonesia,156,China,Export,599729496
465,381,Italy,156,China,Export,35819
507,398,Kazakhstan,156,China,Export,738608504
515,404,Kenya,156,China,Export,15282
526,410,Rep. of Korea,156,China,Export,260380148
550,418,Lao People's Dem. Rep.,156,China,Export,589052464
562,450,Madagascar,156,China,Export,511442
571,458,Malaysia,156,China,Export,182078771
600,490,"Other Asia, nes",156,China,Export,772507869
616,496,Mongolia,156,China,Export,1795868367
621,504,Morocco,156,China,Export,21256334
635,516,Namibia,156,China,Export,2991391
685,586,Pakistan,156,China,Export,314633
700,604,Peru,156,China,Export,8318062306
731,608,Philippines,156,China,Export,242323556
780,643,Russian Federation,156,China,Export,224055289
793,688,Serbia,156,China,Export,41
805,699,India,156,China,Export,293533475
835,704,Viet Nam,156,China,Export,71467
854,710,South Africa,156,China,Export,31830175
896,724,Spain,156,China,Export,746141115
980,792,Turkey,156,China,Export,76043743
1028,842,USA,156,China,Export,4248920
1069,894,Zambia,156,China,Export,1657677
1086,180,Dem. Rep. of the Congo,156,China,Export,566480615
1106,268,Georgia,156,China,Export,171641028
1122,478,Mauritania,156,China,Export,195646154
1129,484,Mexico,156,China,Export,2067770798
1142,682,Saudi Arabia,156,China,Export,135065597

对比上面两个表格，显然各国出入口数据是**普遍**有出入的：

首先，进出口对象数量上就不一致：中国上报记录中显示，中国 2019 年共从 56 个国家进口铜资源；而只有 41 个国家（或中国港澳台地区，以下简称国家）上报了对中国出口铜资源的记录

其次，对于中国的进口对象，其上报的出口记录的贸易金额和中国上报的进口贸易金额并不一致，有的甚至出入较大

这可能是有以下的原因导致的：

1. 由于政策和统计方法不同导致的数据出入
2. 由于货物在进出口过程中经第三方国家中转，而进出口国家对于出入口的目标国家登记不一致导致
3. 其他可能原因

## 2. 构建网络

根据以上数据和分析，构建网络：

1. 以国家为节点，进出口关系为有向，构建有向无权图

2. 对于进出口关系，忽略各个国家之间上报数据的差异，即只要在任何一条记录中出现进出口关系即为他们添加边