In [1]:
import json
import pandas as pd

with open('format-2016-world-copper-2063-trade.json', 'r') as f:
    data = json.load(f)

In [2]:
pd.DataFrame(data)

,pfCode,yr,period,periodDesc,aggrLevel,IsLeaf,rgCode,rgDesc,rtCode,rtTitle,...,qtAltCode,qtAltDesc,TradeQuantity,AltQuantity,NetWeight,GrossWeight,TradeValue,CIFValue,FOBValue,estCode
0,H4,2016,2016,2016,4,0,2,Export,32,Argentina,...,None,,328933070.0,None,328933070.0,None,632963025,None,None,0
1,H4,2016,2016,2016,4,0,2,Export,32,Argentina,...,None,,10058600.0,None,10058600.0,None,20025236,None,None,0
2,H4,2016,2016,2016,4,0,2,Export,32,Argentina,...,None,,69900700.0,None,69900700.0,None,137876595,None,None,0
3,H4,2016,2016,2016,4,0,2,Export,32,Argentina,...,None,,82184200.0,None,82184200.0,None,155770517,None,None,0
4,H4,2016,2016,2016,4,0,2,Export,32,Argentina,...,None,,75380200.0,None,75380200.0,None,145075089,None,None,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1229,H4,2016,2016,2016,4,0,2,Export,975,ASEAN,...,None,,314104.0,None,314104.0,None,378830,None,None,6
1230,H4,2016,2016,2016,4,0,1,Import,975,ASEAN,...,None,,81747.0,None,81747.0,None,64238,None,None,6
1231,H4,2016,2016,2016,4,0,1,Import,975,ASEAN,...,None,,20657.0,None,20657.0,None,16233,None,None,6
1232,H4,2016,2016,2016,4,0,1,Import,975,ASEAN,...,None,,2489255.0,None,2489255.0,None,2571487,None,None,6
1233,H4,2016,2016,2016,4,0,2,Export,975,ASEAN,...,None,,338.0,None,338.0,None,407,None,None,6